{% extends ':default:layout.html.twig' %}

{% block title %}
    Connection {{ parent() }}

{% endblock %}

{% block content %}
    <h1>Connection</h1>
    {# Bloc pour afficher les erreurs de connection#}
    {% if errors %}
        <div class="alert alert-danger">
            {{ errors.messageKey | trans(errors.messageData, 'security') }}
        </div>
    {% endif %}

    {# Formulaire de conection #}
    <form action="{{ path('login_check') }}" method="post">
        <label for="_username">Pseudo ou email</label>
        <input type="text" name="_username" id="_username" value="{{ lastUsername }}">
        <label for="_password">Mot de passe</label>
        <input type="password" name="_password" id="_password">

        <input type="hidden" name="_csrf_token" id="token" value="{{ csrf_token('authenticate') }}">
        <button type="submit">Se connecter</button>
    </form>
{% endblock %}