{{ form_start(form, {'attr':{'class': 'form'}}) }}
    {{ form_errors(form) }}

<div class="form-group">
    {{ form_label(form.category) }}
    {{ form_widget(form.category, {'attr': {'class': 'form-control' }}) }}
    {{ form_errors(form.category) }}
</div>
<div class="form-group">
    {{ form_label(form.parent) }}
    {{ form_widget(form.parent, {'attr': {'class': 'form-control' }}) }}
    {{ form_errors(form.parent) }}
</div>

{{ form_end(form) }}