{% extends ":default:layout.html.twig" %}


{% block title %}
    Liste des categories | Admin
{% endblock %}

{% block content %}
    <h1>Liste des catégories </h1>
    <a href="{{ path('admin_category_create') }}" class="pull-right">Ajouter une catégorie</a>

    {% for category in categories %}
        {% if loop.first %}
            <ul>
        {% endif %}
        <li><a href="{{ path('admin_category_edit', {'slug': category.slug}) }}">{{ category.category }}</a>
            <form action="{{ path('admin_category_delete') }}" method="post">
                <input type="hidden" name="id" value="{{ category.id }}">
                <button type="submit" id="delete-{{ category.slug }}" class="btn btn-danger"> <i class="fa fa-trash-o"></i></button>
            </form></li>
        {% if loop.last %}
            </ul>
        {% endif %}
    {% else %}
        <div>
            Pas de catégories.
        </div>
    {% endfor %}
{% endblock %}